= subscribe_to "/scenes/#{@scene.id}"

:javascript
  $(function() {
    // Subscribe to the public channel
    PrivatePub.subscribe("/scenes/#{@scene.id}", function(data) {
      if ( data.hasOwnProperty('marius_says')) {
        if ( data.marius_says === 'quitter' ) alert('Your co-writer just left the Scene!');
      }
      else {
        var line  = '<span class="character">' + data.from + '</span>';
            line += '<span class="line">' + data.msg + '</span>';
        $('<p class="' + data.kind + '"></p>').html(line).appendTo('#scene');
        // scroll to the bottom of the page
        $("html, body").animate({ scrollTop: $(document).height()-$(window).height() }, 0);
      }
    });

    $('#line_content').on('keypress', function (e) {
      if (e.which == 13) {
        $('input[type=submit]', '#say-your-line').click();
        return false;
      }
    });
  });

.scene_container.clearfix
  %h1= @title
  %p.lead= @content

  #scene

  = link_to 'End Scene', end_scene_path(@scene.id) , method: :delete, confirm: 'Are you sure you want to leave the Scene?', class: 'btn pull-right'

= form_tag drop_a_line_path, { id: 'say-your-line', remote: true, class: 'clearfix' } do
  = select_tag :line_kind, options_for_select( @line_kinds )
  .input-append.pull-right
    = text_field_tag :line_content, nil, placeholder: 'What do you say?', class: 'span7'
    = submit_tag 'Send', disable_with: 'Sending…', class: 'btn'
