= subscribe_to "/scenes/#{@scene.id}"

:javascript
  $(function() {
    // Subscribe to the public channel
    PrivatePub.subscribe("/scenes/#{@scene.id}", function(data) {
      var line = '<em>' + data.from + ': </em>' + data.msg;
      $('<p></p>').html(line).appendTo('#scene');
    });
    $('#line').on('keypress', function (e) {
      if (e.which == 13) {
        $('input[type=submit]', '#say-your-line').click();
        return false;
      }
    });
  });

.scene_container
  %h1= @title
  %p.lead= @content

  #scene

  = form_tag drop_a_line_path, { id: 'say-your-line', remote: true } do
    .input-prepend.input-append
      .btn-group
        %button.btn.dropdown-toggle{ 'data-toggle' => 'dropdown' }
          Choose&hellip;
          %span.caret
        %ul.dropdown-menu
          %li.disabled
            %a Say
          %li.disabled
            %a Narrative
          %li.disabled
            %a Slugline

      = text_field_tag :line, nil, placeholder: 'What do you say?', class: 'span7'
      = submit_tag 'Send', disable_with: 'Sending…', class: 'btn'
