= subscribe_to "/messages/public"
= subscribe_to "/messages/private/#{session[:username]}"

:javascript
  $(function() {
    // Subscribe to the public channel
    PrivatePub.subscribe('/messages/public', function(data) {
      $('<p></p>').html(data.username + ': ' + data.msg).appendTo('#chat_room');
    });

    // Our own private channel
    PrivatePub.subscribe("/messages/private/#{session[:username]}", function(data) {
      $('<p></p>').addClass('private').html(data.username + ": " + data.msg).appendTo('#chat_room');
    });
  });

.chat_container
  #chat_room
    %p.alert= "Welcome to the chatroom #{session[:username]}!"
  = form_tag new_message_path, remote: true do
    = text_field_tag :message
    = submit_tag 'Send', disable_with: 'Sending…'
